<div class="container-fluid" *ngIf="customer != undefined">
  <h2>{{ 'core.user_info.title-dashboard'| translate}}</h2>
  <mat-card-title>{{ 'core.user_info.name' | translate}}: {{ customer?.name }}</mat-card-title>

  <form class="signup-form" [formGroup]="form">
    <mat-card-content>
      <section class="optin-prime-section">
        <mat-checkbox formControlName="isprime" class="isPrime" name="isprime">{{ 'core.user_info.optin-checkobox-label'| translate}}</mat-checkbox>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn" mat-raised-button (click)="updatePrimeStatus()" color="primary">{{"save" | translate}}</button>
    </mat-card-actions>
  </form>

  <div class="all-extra-info">
    <div class="extra-info" *ngIf="customer.watched">
      <mat-label>{{'core.user_info.watched'| translate}}: </mat-label>
      <div class="right">
        <span scope="col" *ngFor="let watched of customer.watched"> {{watched}} </span>
      </div>
    </div>
    <div class="extra-info" *ngIf="customer.favorite">
      <mat-label>{{'core.user_info.favorite'| translate}}: </mat-label>
      <div class="right">
        <span scope="col" *ngFor="let favorite of customer.favorite"> {{favorite}} </span>
      </div>
    </div>
    <div class="extra-info" *ngIf="customer.watchLater">
      <mat-label>{{'core.user_info.watch-later'| translate}}: </mat-label>
      <div class="right">
        <span scope="col" *ngFor="let watchLater of customer.watchLater"> {{watchLater}} </span>
      </div>
    </div>
  </div>
</div>
