<mat-card class="show-card">
  <mat-card-header>
    <div mat-card-avatar class="show-header-image"></div>
    <mat-card-title>{{ 'show.name' | translate}}: {{ show?.name }}</mat-card-title>
    <mat-card-subtitle>{{ 'show.title' | translate}}: {{ show?.title }}</mat-card-subtitle>
    <mat-card-subtitle>{{ 'show.language' | translate}}: {{ show?.language }}</mat-card-subtitle>
    <mat-card-subtitle>{{ 'show.rating' | translate}}: {{ show?.rating }}</mat-card-subtitle>
    <mat-card-subtitle>{{ 'show.genre' | translate}}: {{ show?.genre }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src='{{show?.image}}' alt="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <p>{{ 'show.description' | translate}}: {{ show?.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="['/show-detail', show?.id]">
      <mat-icon class="watch-now" matTooltip='{{ "show.watch" | translate}}'>movie</mat-icon>
    </a>
    <button mat-icon-button #watchlater color="black" (click)="watchLaterClick()" aria-label="watchLater icon">
      <mat-icon matTooltip='{{ "show.watch-later" | translate}}'>watch_later</mat-icon>
    </button>
    <button mat-icon-button #favorite color="warn" (click)="favoriteClick()" aria-label="favorite icon">
      <mat-icon matTooltip='{{ "show.favorite" | translate}}'>favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<ng-content></ng-content>
