<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <span (click)="this.routeService.goto('')">Hulu - {{ "core.moto" | translate }}</span>
    <span class="example-spacer"></span>
    <mat-form-field appearance="fill">
      <mat-label>{{ "core.changelanguage" | translate }}</mat-label>
      <select matNativeControl class="language-selector" #selLang (change)="translateLanguageTo(selLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language">
          {{ language }}
        </option>
      </select>
    </mat-form-field>
    <button *ngIf="isLogin == undefined || isLogin == false" mat-button (click)="this.routeService.goto('login')" >
      <mat-label>{{ "core.login" | translate }}</mat-label>
    </button>
    <button mat-button (click)="this.routeService.goto('shows')" >
      <mat-label>{{ "core.shows" | translate }}</mat-label>
    </button>
    <mat-accordion *ngIf="this.isLogin" class="account-headers-align">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-description>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-button color="primary" (click)="this.routeService.goto('customerDashboard')">
          {{ "core.user_info.myaccount" | translate }}
        </button>
        <button mat-button color="primary" (click)="this.routeService.goto('shows')">
          {{ "shows" | translate}}
        </button>
        <button mat-button color="primary" (click)="logout()">
          {{"logout" | translate}}
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-toolbar-row>
</mat-toolbar>
<app-messages></app-messages>
