<h3>{{msg}}</h3>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{'core.login' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'core.username'| translate}}" [(ngModel)]="username" name="username"
                required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'core.password'| translate}}" [(ngModel)]="password" type="password"
                name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="checkLogin()" color="primary">{{'core.login' | translate }}</button>
  </mat-card-actions>
  <a [routerLink]="['/signup']" routerLinkActive="router-link-active">{{ "new-user" | translate }}</a>
</mat-card>
